.content {
  .content {
    @extend %clearfix;
  }
}
.sidebar {
  width: 220px;
  float: left;
}

.page-content {
  width: 700px;
  float: right;
}

.nav__link {
  display: block;
  padding: 10px 0;
  padding-right: 20px;
  text-decoration: none;
  text-align: right;
  color: #414141;
  border-right: 5px solid transparent;

  &:hover {
    border-color: $blue;
    font-weight: bold;
    color: $blue;
  }
}

.nav__link_text {
  margin: 0 4px 0 6px;
}

/*--------------about---------------*/

.about {
  @extend %clearfix;
}

.about__left {
  width: 290px;
  float: left;;
}

.about__right {
  width: 400px;
  float: right;
}

.about__pic {
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
  display: inline-block;
}

.about__pic-img{
  display: block;
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.title {
  font-size: 35px;
  color: $black;
  margin-bottom: 20px;
  font-weight: 600;
}