.content {
  .content {
    @extend %clearfix;
  }
}
.sidebar {
  width: 220px;
  float: left;
}

.page-content {
  width: 700px;
  float: right;
}

.nav__link {
  display: block;
  padding: 10px 0;
  padding-right: 20px;
  text-decoration: none;
  text-align: right;
  color: #414141;
  border-right: 5px solid transparent;

  &:hover {
    border-color: $blue;
    font-weight: bold;
    color: $blue;
  }
}

.nav__link_text {
  margin: 0 4px 0 6px;
}