.Input_copy {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(204, 153, 255);
  border-radius: 6px;
  background-color: rgb(204, 153, 255);
  box-shadow: 0px 3px 0px 0px rgba(166, 122, 209, 0.004);
  position: absolute;
  left: 734px;
  top: 1749px;
  width: 257px;
  height: 35px;
  z-index: 177;
}
