// adjustment vars
$footer_height: 50px;
$container-width: 940px;


//adjustment styles
body, html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  background: $white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: $container-width + 20;
}

.wrapper:after {
  content: "";
  display: block;
  height: $footer_height;
  overflow: hidden;
}

.maincontent{
  padding-bottom: 20px;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.footer {
  background: #414141;
  height: $footer_height;
  width: 100%;
  margin-top: -$footer_height;
  position: relative;
  min-width: $container-width + 20;
}